@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans {
  font-family: "Inter", sans-serif;
}
*{
    margin: 0%;
    padding: 0%;
}
.light-grey{
    color: #424242;
}
.extra-light-grey{
    color: #727272;
}

.display-flex{
    display: flex;
}

.primary-btn{
    background-color: rgba(255, 144, 14, 1);
    color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1.6rem;
    border: none;
    border-radius: 5px;
}
.small-text{
    font-size: 1rem;
}
#header{
    background-color: rgba(255, 144, 14, 0.1);
    
}

.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.brand{
    font-size: 2.8rem;
    font-weight: 700;
    margin: 20px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    text-align: center;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-description, .banner-title, .banner-btn{
    margin: 1.5rem;
}
.banner-image{
    width: 100%;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 576px) {
    .navbar,.nav-links{
        flex-direction: column;
    }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
    
}